@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font: 16px/1.5em 'montserrat_', Arial, Helvetica, sans-serif;
}

a:link {
  color: #dfd000;
  text-decoration: none;
}

a:active {
  color: #e0500e;
}

a:hover, a:focus {
  color: aquamarine;
}

a:visited {
  color: #dfd000;
}

figure, image {
  margin: 0;
  padding: 0;
  border: none;
}

/* NAV :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

nav {
  position: fixed;
  top: calc(50vh - 12rem);
  right: 0;
  z-index: 1000;
  background: #000;
}

nav a {
  font-size: 2rem;
  font-family: 'roboto_', Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  display: block;
  height: 1em;
  padding: 0.3em 0;
}

nav a:hover, nav a:focus {
  font-family: 'playfair_display', Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-style: italic;
  padding: 0.22em 0 0.38em 0;
}

nav a > b {
  font-weight: inherit;
  display: inline-block;
  padding: 0 2em 0 0.9em;
  width: 11rem;
}

nav a > canvas {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  right: 0.7em;
  top: 0.45em;
  background: #fff;
  border-radius: 0.5em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

nav ul li {
  font-size: 2rem;
}

/* UNIVERSE ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

main {
  position: relative;
  z-index: 5;
}

#universe {
  width: 100%;
  min-height: 100vh;
  height: 300vh;
  position: relative;
}

#universe > canvas {
  /*background: #515e66;*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#universe > h1 {
  background: center 0 repeat-y;
  background-position-y: 2527px;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
}

#universe > h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  font-size: 2.2rem;
  top: 0;
  left: 0;
  background: -webkit-radial-gradient(circle, #fffbfbff, #fffcd9fc 1.1em, #ffa9707e 1.3em,
    #ffb47469 3.4em, #ffc17954 4.1em, #ffc88b3f 5.7em, #ffbe792a 6.5em,
    #ffbe7914 8.1em, #ffbe7900 10em);
  background: -moz-radial-gradient(circle, #fffbfbff, #fffcd9fc 1.1em, #ffa9707e 1.3em,
    #ffb47469 3.4em, #ffc17954 4.1em, #ffc88b3f 5.7em, #ffbe792a 6.5em,
    #ffbe7914 8.1em, #ffbe7900 10em);
  background: -o-radial-gradient(circle, #fffbfbff, #fffcd9fc 1.1em, #ffa9707e 1.3em,
    #ffb47469 3.4em, #ffc17954 4.1em, #ffc88b3f 5.7em, #ffbe792a 6.5em,
    #ffbe7914 8.1em, #ffbe7900 10em);
  background: radial-gradient(circle, #fffbfbff, #fffcd9fc 1.1em, #ffa9707e 1.3em,
    #ffb47469 3.4em, #ffc17954 4.1em, #ffc88b3f 5.7em, #ffbe792a 6.5em,
    #ffbe7914 8.1em, #ffbe7900 10em);
  background: radial-gradient(circle, #fffbfbff, #fffcd9fc 1.1em, #ffa9707e 1.3em,
    #ffb47469 3.4em, #ffc17954 4.1em, #ffc88b3f 5.7em, #ffbe792a 6.5em,
    #ffbe7914 8.1em, #ffbe7900 10em);
  z-index: 2;
}

#universe > h1 img {
  height: 15rem;
  position: absolute;
  top: calc(50vh - 9.5rem);
  left: calc(50vw - 17.72rem);
  z-index: 5;
}

#universe > aside, #code_view div.button a {
  cursor: pointer;
  position: absolute;
  top: calc(100vh - 5rem);
  right: 3em;
  z-index: 15;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  transition: background 0.2s, box-shadow 0.2s, top 0.2s, color 0.2s;
  -webkit-transition: background 0.2s, box-shadow 0.2s, top 0.2s, color 0.2s;
  background: -webkit-linear-gradient(140deg, #00bdd6, #008ce3, #798ae2);
  background: -moz-linear-gradient(140deg, #00bdd6, #008ce3, #798ae2);
  background: -o-linear-gradient(140deg, #00bdd6, #008ce3, #798ae2);
  background: linear-gradient(140deg, #00bdd6, #008ce3, #798ae2);
  box-shadow: 0 0.3125rem 0 #0b3f73;
  color: #fff;
}

#universe > aside:hover, #code_view div.button a:hover, #code_view div.button a:focus {
  background: -webkit-linear-gradient(140deg, #00edf6, #44b7ff, #7ea8e4);
  background: -moz-linear-gradient(140deg, #00edf6, #44b7ff, #7ea8e4);
  background: -o-linear-gradient(140deg, #00edf6, #44b7ff, #7ea8e4);
  background: linear-gradient(140deg, #00edf6, #44b7ff, #7ea8e4);
  box-shadow: 0 0.4375rem 0 #0d4a87;
  top: calc(100vh - 5.125rem);
  color: #000;
}

#universe > aside:active, #code_view div.button a:active {
  background: -webkit-linear-gradient(140deg, #ff804f, #fe305c);
  background: -moz-linear-gradient(140deg, #ff804f, #fe305c);
  background: -o-linear-gradient(140deg, #ff804f, #fe305c);
  background: linear-gradient(140deg, #ff804f, #fe305c);
  box-shadow: 0 0.1875rem 0 #981010;
  color: #fff;
  top: calc(100vh - 4.875rem);
}

#universe > figure {
  background: 0 0 no-repeat;
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
}

#universe > figure.planet {
  background-color: #000;
  background-size: 42rem 42rem;
  left: calc(50% - 21rem);
  border-radius: 50%;
  width: 42rem;
  height: 42rem;
  z-index: 12;
}

#universe > figure.moon {
  background-position: center bottom;
  background-size: contain;
  width: 100%;
  height: 100vh;
  z-index: 13;
}

/* PORTFOLIO :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#portfolio {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 70;
  background: #000;
  padding-bottom: 50vh;
}

#portfolio > div {
  width: 100%;
  height: 100vh;
}

#portfolio > div > h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(50vh - 5rem);
  left: calc(50vw - 35.5rem);
  z-index: 71;
}

#portfolio > div > h1 img {
  height: 8rem;
}

#portfolio > section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

#portfolio > section > figure {
  flex-grow: 1;
  position: relative;
  z-index: 72;
  width: 50%;
  height: 50vh;
  overflow: hidden;
  cursor: pointer;
}

#portfolio > section > figure > video {
  top: 0;
  left: 0;
  z-index: 73;
  position: absolute;
  margin: 1em 0 0 1em;
  width: calc(100% - 1em);
  height: calc(50vh - 1em);
  object-position: 50% 50%;
  object-fit: cover;
  background: #20262e;
}
#portfolio > section > figure:nth-of-type(even) > video {
  margin-right: 1em;
  width: calc(100% - 2em);
}

#portfolio > section > figure > figcaption {
  position: relative;
  margin-top: calc(25vh - 1.6em);
  z-index: 75;
  text-align: center;
  font-family: 'playfair_display', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1em;
}

#portfolio > section > figure > figcaption > i, #portfolio > section > figure > figcaption > b {
  background: #000;
  display: inline-block;
  padding: 0.4em 0.6em 0.5em;
  font-style: normal;
  position: relative;
}
#portfolio > section > figure > figcaption > b {
  background: #c38613;
  font-style: normal;
}

#portfolio > article {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  font-family: 'montserrat_', Arial, Helvetica, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #000;
}

#portfolio > article > video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1011;
  position: fixed;
  object-fit: cover;
  pointer-events: none;
  object-position: 50% 50%;
}
#portfolio > article#a_autonomous > video { display: none; }

#portfolio > article > div {
  position: relative;
  z-index: 1012;
  width: 30rem;
  min-height: calc(100vh - 10rem);
  padding: 5rem 7rem;
  background-color: #000000aa;
  display: inline-block;
}

#portfolio > article > figure.hide {
  position: fixed;
  left: 40rem;
  top: calc(50vh - 4rem);
  width: 4rem;
  height: 8rem;
  display: block;
  background: #00000055;
  z-index: 1014;
  cursor: pointer;
}
#portfolio > article > figure.hide::after {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  margin-top: 2rem;
  background: url('../theme3.0/buttons.svg') -20rem -8rem no-repeat;
  background-size: 36rem 12rem;
}
#portfolio > article > figure.hide:hover { background-color: #000; }
#portfolio > article > figure.hide:hover::after { background-position-y: 0rem; }
#portfolio > article > figure.hide:active { background-color: #c75c5c; }
#portfolio > article > figure.hide:active::after { background-position-y: -4rem; }

#portfolio > article > figure.hide.show, #portfolio > article > figure.hide.auto.show {
  left: 0rem;
}
#portfolio > article > figure.hide.show::after { background-position-x: -24rem; }
#portfolio > article > figure.hide.auto { left: 75rem; }

#portfolio > article > section {
  position: relative;
  z-index: 1013;
  min-height: calc(100vh - 9rem);
  background-color: #000000aa;
  padding: 4rem 7rem 5rem;
  width: 65rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

#portfolio > article > section > h1 {
  flex-grow: 2;
  width: 100%;
  padding-bottom: 0.7em;
  font-size: 4rem;
  text-align: center;
}

#portfolio > article > section > div {
  flex-grow: 1;
  width: 28rem;
  margin-right: 3rem;
}
#portfolio > article > section > div:nth-of-type(even) {
  margin-right: 0;
  padding-left: 3rem;
  border-left: 1px solid #ffe4bc66;
  width: calc(30rem - 2px);
}

#portfolio > article h1 {
  color: #d6b176;
  font-family: 'playfair_display', Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0;
  position: relative;
}

#portfolio > article h2 {
  color: #d6b176;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7em;
}

#portfolio > article p {
  line-height: 1.7em;
  margin: 1.5em 0;
}
#portfolio > article p > i { color: #ffe4bc; }

#portfolio > article ul {
  line-height: 1.7em;
  list-style: none;
  margin: 0;
  padding: 0 0 1em;
}

#portfolio > article ul > li { color: #70bdec; }

#portfolio > article ul > li > ul > li {
  color: #fff;
  padding-left: 1.5em;
  font-style: italic;
}

#portfolio > article ul > li > ul > li > b { font-style: normal; }

#portfolio > article > aside, #code_view div.close {
  position: fixed;
  z-index: 1015;
  top: 1.5em;
  right: 1em;
  font-size: 0.9rem;
  padding: 1.5em 2em 1.5em 2.5em;
  background: #00000077;
  color: #74d4ff;
  font-weight: 600;
  cursor: pointer;
  transition: padding 0.3s, color 0.3s;
}

#portfolio > article > aside.play {
  top: auto;
  bottom: 2.5em;
  right: 2em;
}

@keyframes next_anim {
  0% { background-color: #00000077;}
  100% { background-color: #000000ff; }
}
#portfolio > article > aside.next {
  top: auto;
  bottom: 2.5em;
  right: 15em;
  animation: next_anim 1s linear 0s infinite alternate none;
}

#portfolio > article > aside::after, #code_view div.close::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  margin-left: 1em;
  background: url('../theme3.0/buttons.svg') left top no-repeat;
  background-position: -4rem 0;
  background-size: 18rem 6rem;
}
#portfolio > article > aside.play::after { background-position-x: -2rem; }
#portfolio > article > aside.play.pause::after { background-position-x: 0rem; }
#portfolio > article > aside.next::after { background-position-x: -6rem; }

#portfolio > article > aside:hover, #code_view div.close:hover {
  background: #000000ff;
  color: #ffffff;
  padding-right: 3em;
}
#portfolio > article > aside.next:hover, #portfolio > article > aside.play:hover {
  padding-bottom: 2.5em;
  padding-right: 2em;
}
#portfolio > article > aside:hover::after, #code_view div.close:hover::after {
  background-position-y: -2rem;
}
#portfolio > article > aside:active, #code_view div.close:active {
  background: #000000ff;
  color: #e9d6b7;
  padding-right: 1.5em;
}
#portfolio > article > aside.next:active, #portfolio > article > aside.play:active {
  padding-bottom: 1em;
  padding-right: 2em;
}
#portfolio > article > aside:active::after, #code_view div.close:active::after {
  background-position-y: 0 -4rem;
}

#portfolio #a_drone > video:nth-of-type(2) { display: none; }

#portfolio > article > canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#portfolio > article > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 2em;
  top: calc(50vh - 9rem);
  width: 4.5rem;
  height: 18rem;
}
#portfolio > article > ul > li {
  padding: 0;
  margin: 0;
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  background: url('../theme3.0/buttons_background.svg') 0 0 no-repeat;
  background-size: 13.5rem 18rem;
  cursor: pointer;
}
#portfolio > article > ul > li:nth-of-type(2) { background-position-y: -4.5rem; }
#portfolio > article > ul > li:nth-of-type(3) { background-position-y: -9rem; }
#portfolio > article > ul > li:nth-of-type(4) { background-position-y: -13.5rem; }

#portfolio > article > ul > li:hover { background-position-x: -4.5rem; }
#portfolio > article > ul > li:active { background-position-x: -9rem; }

@keyframes stopmotion {
  0%   { background-position-x: 0; }
  100% { background-position-x: -13.5rem; }
}
#portfolio > article > ul > li::after {
  content: '';
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  background: url('../theme3.0/button_animations.svg') 0 -13.5rem no-repeat;
  background-size: 18rem 18rem;
  pointer-events: none;
}
#portfolio > article > ul > li:hover::after {
  background-position-x: -13.5rem;
  animation: stopmotion 0.25s steps(4, jump-none) 0s 1;
}

#portfolio > article > ul > li:nth-of-type(2)::after { background-position-y: -4.5rem; }
#portfolio > article > ul > li:nth-of-type(3)::after { background-position-y: -0rem; }
#portfolio > article > ul > li:nth-of-type(4)::after { background-position-y: -9rem; }

@keyframes rotieren {
  0% { transform:rotate(0deg); }
  25% { transform:rotate(30deg); }
  50% { transform:rotate(0deg); }
  75% { transform:rotate(-30deg); }
  100% { transform:rotate(0deg); }
}

.rotieren {
  position: fixed;
  bottom: 2rem;
  right: 22.5%;
  width: 4.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.2em;
  pointer-events: none;
}
.rotieren.first { right: calc(50% - 2.25rem); }

.rotieren > img {
  width: 2.625rem;
  height: 2.625rem;
  transform-origin:50% 50%;
  animation: rotieren 2s ease-in-out infinite;
}

.avoid_scroll { overflow-y: hidden; }

@keyframes transparenting {
  0% { opacity: 1.0; }
  100% { opacity: 0.2; }
}
#portfolio > article section.transparent, #portfolio > article > figure.hide.transparent {
  animation: transparenting 0.5s linear 0s 1;
  opacity: 0.2;
  -moz-user-select: none;
  -webkit-user-select : none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#portfolio > article > figure.hide.auto.show.transparent {
  animation: none;
  opacity: 1.0;
  -moz-user-select: unset;
  -webkit-user-select : unset;
  -o-user-select: unset;
  -ms-user-select: unset;
  user-select: unset;
}

/* PROJECTS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#projects {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 20;
  background: #000;
  padding-bottom: 50vh;
}

#projects > h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

#projects > h1 img {
  height: 6rem;
  padding: 3rem 0 2rem;
}

#projects ol {
  padding: 1em 3em 3em;
  margin: 0;
  list-style: none;
  font-family: 'montserrat_', Arial, Helvetica, sans-serif;
  column-count: 4;
  column-gap: 0;
  column-rule: none;
}

#projects ol > li.in_progress > a::after {
  content: "In progress";
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  font-size: 0.8rem;
  color: #ffee01;
  background-color: #966e0088;
  display: inline-block;
  padding: 0.1rem 1rem 0.3rem;
  border-radius: 0.9rem;
}

#projects ol > li > a, #projects ol > li > a:link {
  position: relative;
  display: block;
  padding: 1.5em 2em 3em;
  margin: 0 1em 2em;
  break-inside: avoid;
  transition: background 0.5s, color 0.5s;
  -webkit-transition: background 0.5s, color 0.5s;

  background: -webkit-linear-gradient(140deg, #096a77, #09476d, #2d3a7c);
  background: -moz-linear-gradient(140deg, #096a77, #09476d, #2d3a7c);
  background: -o-linear-gradient(140deg, #096a77, #09476d, #2d3a7c);
  background: linear-gradient(140deg, #096a77, #09476d, #2d3a7c);
  color: #fff;
}
#projects ol > li > a:visited { color: #fff; }
#projects ol > li > a:hover, #projects ol > li > a:focus {
  background: -webkit-linear-gradient(140deg, #0e96a8, #008ce3, #798ae2);
  background: -moz-linear-gradient(140deg, #0e96a8, #008ce3, #798ae2);
  background: -o-linear-gradient(140deg, #0e96a8, #008ce3, #798ae2);
  background: linear-gradient(140deg, #0e96a8, #008ce3, #798ae2);
  color: #000;
}
#projects ol > li > a:active {
  background: -webkit-linear-gradient(140deg, #ff804f, #fe305c);
  background: -moz-linear-gradient(140deg, #ff804f, #fe305c);
  background: -o-linear-gradient(140deg, #ff804f, #fe305c);
  background: linear-gradient(140deg, #ff804f, #fe305c);
  color: #fff;
}

#projects ol > li h1 {
  font-size: 1.5rem;
  line-height: 1em;
  margin: 0;
}

#projects ol > li p {
  line-height: 1.5em;
  margin: 1.5em 0;
}

#projects ol > li ul, #projects ol > li dl {
  margin: 0;
  padding: 0;
  list-style: none;
}
#projects ol > li dl { margin-top: 0.5rem; }

#projects ol > li ul > li, #projects ol > li dl > dt {
  margin: 0.25em 0.1em;
  padding: 0.1em 1em 0.3em;
  display: inline-block;
  background: #259ae4;
  border-radius: 1em;
  font-size: 0.8rem;
  color: #fff;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
#projects ol > li > a:hover > ul > li { background: #136192; }

#projects ol > li dl > dt {
  color: #000;
  background: #44ffc1c0;
}

#projects ol > li > a > ul > li:first-child, #projects ol > li dl > dt:first-child {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0.3em;
  color: #a3dcff;
  background: none;
  border-radius: 0;
  font-weight: bold;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
#projects ol > li > a:hover > ul > li:first-child { color: #002e4b; }
#projects ol > li dl > dt:first-child { color: #90ffda; }

/* ABOUT ME ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#about_me {
  width: 100%;
  min-height: 150vh;
  position: relative;
  z-index: 30;
  background-color: #000;
}

#about_me > section {
  width: 100%;
  height: 100vh;
  background: right center no-repeat;
  background-size: 55% auto;
}

#about_me > section > h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

#about_me > section > h1 img {
  height: 6rem;
  padding: 3rem 0 2rem;
}

#about_me > section > article {
  margin-left: calc(50% - 47rem);
  padding: 1em 0 5em;
  width: 45rem;
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: 'montserrat_', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#about_me > section > article > p:first-child > i:first-child {
  float: left;
  font-size: 4em;
  vertical-align: text-bottom;
  padding: 0 0.1em 0.15em;
  margin: 0 0.15em 0.15em 0;
  line-height: 0.8em;
  font-style: normal;
  border: 1px dotted #fff;
  font-weight: normal;
  font-family: 'playfair_display', Georgia, 'Times New Roman', Times, serif;
}

#about_me > section > aside {
  position: absolute;
  z-index: 31;
  right: calc(25% - 5rem);
  top: calc(100vh - 3rem);
  min-width: 2rem;
}

#about_me > section > aside > div {
  font-size: 0.8rem;
  background: url('../theme3.0/buttons.svg') 0 0 no-repeat;
  background-position-x: -8em;
  background-size: 18em 6em;
  width: 2em;
  height: 2em;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}
#about_me > section > aside > div.active, #about_me > section > aside > div:hover {
  background-position-y: -2em;
}
#about_me > section > aside > div:active { background-position-y: -4em; }

/* KNOWLEDGE :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#knowledge {
  width: 100%;
  min-height: 150vh;
  height: 150vh;
  position: relative;
  z-index: 40;
  background: #000;
}

#knowledge > h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

#knowledge > h1 img {
  height: 6rem;
  padding: 3rem 0 2rem;
}

#knowledge > article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  font-family: 'montserrat_', Arial, Helvetica, sans-serif;
  margin: 0 4rem;
}

#knowledge > article > ol {
  list-style: none;
  counter-reset: li0;
  width: 27rem;
  margin: 0;
  padding: 0 1em;
  position: relative;
}
#knowledge > article > ol:nth-child(2) {
  counter-reset: li0 2;
  width: 30rem;
}
#knowledge > article > ol:nth-child(3) {
  counter-reset: li0 4;
  border-right: none;
  width: 26rem;
}

#knowledge > article > ol:nth-child(1)::after, #knowledge > article > ol:nth-child(2)::after {
  top: 0;
  right: -1rem;
  content: '';
  width: 32px;
  height: 100%;
  position: absolute;
  background: url('../theme3.0/vertical_separator.png') no-repeat center center;
}

#knowledge > article > ol > li {
  font-size: 1.5em;
  color: #e8cf97ff;
  counter-increment: li0;
  margin: 2rem 0 0.5rem;
  padding: 0;
  font-family: 'playfair_display', Georgia, 'Times New Roman', Times, serif;
  background: url('../theme3.0/horizontal_separator.png') no-repeat center center;
}

#knowledge > article > ol > li:first-child {
  margin-top: 0.5rem;
}

#knowledge > article > ol > li > b::before {
  content: counter(li0, upper-roman)'.';
  color: #d1c4b1;
  display: inline-block;
  font-size: 0.95em;
  margin-right: 0.5rem;
  text-align: right;
  background: #000;
}

#knowledge > article > ol > li > b {
  display: inline-block;
  background: #000;
  padding: 0.2em 0.5em 0.4em;
  margin-left: 0.8em;
}

#knowledge article > ol > ol {
  list-style: none;
  counter-reset: li1;
  padding-left: 5rem;
}

#knowledge article > ol > ol > li::before {
  content: counter(li1)'.';
  color: #c2e4fa;
  display: inline-block;
  width: 2em;
  margin-left: -2.5em;
  margin-right: 0.3em;
  text-align: right;
}

#knowledge article > ol > ol > li {
  font-weight: 600;
  font-size: 1.05em;
  line-height: 1.3em;
  counter-increment: li1;
  padding: 0.4em 0 0;
}

#knowledge article > ol > ol > ol {
  list-style: none;
  counter-reset: li2;
  padding-left: 1.1rem;
  margin: 0.2rem 0;
}

#knowledge article > ol > ol > ol > li::before {
  content: counter(li2, upper-alpha)'.';
  color: #e8cf97ff;
  display: inline-block;
  width: 2em;
  margin-left: -2.5em;
  margin-right: 0.3em;
  text-align: right;
  font-weight: 600;
}

#knowledge article > ol > ol > ol > li {
  line-height: 1.7em;
  counter-increment: li2;
  font-size: 0.95em;
}

/* STUDIES :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#studies {
  width: 100%;
  height: 150vh;
  background: #000;
  position: relative;
  z-index: 50;
}

#studies > h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

#studies > h1 > img {
  height: 6rem;
  padding: 3rem 0;
}

#studies ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: calc(100vh - 16rem);
}

#studies ul > li {
  width: 37rem;
  display: inline-block;
  text-align: center;
  position: relative;
  padding-top: calc(50vh - 8rem - 6.5rem);
}
#studies ul > li:nth-child(1) { padding-top: calc(50vh - 8rem - 21.3rem); }
#studies ul > li:nth-child(2) { width: 31rem; }
#studies ul > li:nth-child(3) { padding-top: calc(50vh - 8rem - 10.8rem); }

#studies ul > li:nth-child(1)::after, #studies ul > li:nth-child(2)::after {
  top: 0;
  right: -1rem;
  content: '';
  width: 32px;
  height: 100%;
  position: absolute;
  background: url('../theme3.0/vertical_separator.png') no-repeat center center;
}

#studies ul > li > small {
  position: relative;
  background: url('../theme3.0/horizontal_separator.png') no-repeat center center;
  display: inline-block;
  width: 29.5rem;
  margin: 2rem 0 0.7rem;
}
#studies ul > li:nth-child(2) > small { width: 22.5rem; }
#studies ul > li:nth-child(3) > small { width: 27.5rem; }

#studies ul > li:nth-child(1) img { width: 18.3125rem; }
#studies ul > li:nth-child(2) img { width: 22.5rem; }
#studies ul > li:nth-child(3) img { width: 27.5rem; }

#studies ul > li > small > i {
  font-family: 'playfair_display', Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  background: #000 url('../theme3.0/studies_tag.png') no-repeat center center;
  background-size: 10rem 2rem;
  padding: 0.26em 1em;
  color: #000;
  width: 9rem;
}

#studies ul > li > h1 {
  font-family: 'playfair_display', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.87rem;
  margin: 0.3em 0 0.5em;
  padding: 0;
  color: #e8cf97ff;
}

#studies ul > li:nth-child(3) h1 {
  font-size: 1.7rem;
}

#studies ul > li:nth-child(3) h1 > b {
  font-size: 2.95rem;
  line-height: 1.2em;
  letter-spacing: 1px;
  font-weight: inherit;
}

#studies i {
  font-style: italic;
  font-weight: normal;
  font-size: 0.8em;
}

#studies p {
  margin: 0;
  font-family: 'montserrat_', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

#studies p > b {
  font-family: 'abril_fatface', 'playfair_display', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
}


/* CONTACT ME ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

footer {
  background: #000 center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  z-index: 60;
}

footer > aside {
  display: block;
  width: 100%;
  height: 100vh;
  background: 0 bottom no-repeat;
  background-size: contain;
  pointer-events: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  position: relative;
  z-index: 65;
}

#contact_me {
  width: 100%;
  height: 100vh;
  font-family: 'abril_fatface', Georgia, 'Times New Roman', Times, serif;
  position: relative;
  z-index: 61;
}

#contact_me > h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

#contact_me > h1 > img {
  height: 6rem;
  padding: 3rem 0;
}

#contact_me > section:nth-of-type(1) {
  position: absolute;
  left: calc(50vw - 52rem);
  top: calc(50vh - 10rem);
  font-size: 3.3rem;
}
#contact_me > section:nth-of-type(2) {
  position: absolute;
  left: calc(50vw - 52rem);
  top: calc(50vh + 6rem);
  font-size: 2.6rem;
}
#contact_me > section:nth-of-type(3) {
  position: absolute;
  right: calc(50vw - 41rem);
  top: calc(50vh - 10rem);
  font-size: 2.6rem;
}
#contact_me > section:nth-of-type(4) {
  position: absolute;
  right: calc(50vw - 41rem);
  top: calc(50vh + 6rem);
  font-size: 2.6rem;
}

#contact_me small {
  font-family: 'montserrat_', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.7em;
  text-transform: uppercase;
}

#contact_me p {
  line-height: 1em;
  margin: 0;
}

#contact_me p > b {
  font-weight: normal;
  display: inline-block;
  padding: 0 0 0.7rem;
  background: linear-gradient(to left, #fffcf9, #c38613);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}

#contact_me p > b::before {
  content: '';
  background: #a58743ff;
  width: 100%; 
  height: 1px;
  position: absolute;
  bottom: 0.7rem;
  left: 0;
}

#contact_me > ul {
  list-style: none;
  margin: 0 0 0.7rem;
  padding: 0;
  border-top: 1px solid #766844aa;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

#contact_me > ul > li {
  display: inline-block;
  border-right: 1px solid #766844ff;
  font-size: 1.5rem;
  margin: 0.7em 0;
  padding: 0.3em 1.5em;
}
#contact_me > ul > li:last-child { border-right: none; }

/* KEYS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#keys {
  position: fixed;
  bottom: 1rem;
  left: 5rem;
  width: 9.34rem;
  z-index: 1000;
}

#keys h1 {
  margin: 0;
  line-height: 1em;
  padding: 0;
}

#keys h1 > button {
  background: url('../theme3.0/keys.svg') -0.25rem -0.25rem no-repeat;
  background-size: 12.3125rem 9.25rem;
  background-position-y: -3.25rem;
  border: none;
  width: 2.8125rem;
  height: 2.8125rem;
  margin: 0.15rem;
  cursor: pointer;
}

#keys h1 > button:nth-child(1) {
  margin: 0.15rem 3.1125rem;
  background-position-x: -9.25rem;
}
#keys h1 > button:nth-child(3) { background-position-x: -3.25rem; }
#keys h1 > button:nth-child(4) { background-position-x: -6.25rem; }

#keys h1 > button.down, #keys h1 > button:active {
  background-position-y: -6.1875rem;
}

#keys h1 > button.inactive, #keys h1 > button.inactive:active, #keys h1 > button.inactive.down {
  background-position-y: -0.25rem;
  cursor: default;
}

#keys h2 {
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.7em;
  margin: 0;
  color: #d6b176;
}

/* LOADER ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#loader {
  position: fixed;
  bottom: 0;
  left: calc(50% - 6.5em);
  display: inline-block;
  min-width: 7em;
  z-index: 1010;
  background-color: #c75c5c;
  padding: 1.2em 1.1em 1.2em 4.6em;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  font-size: 1.2rem;
}

#loader > i {
  font-style: normal;
  font-weight: bold;
}

@keyframes rotate_clock {
  from {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform:rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform:rotate(360deg);
  }
}

#loader::before {
  content: '';
  position: absolute;
  font-size: 0.9em;
  top: 0.1em;
  left: 0.6em;
  display: block;
  width: 4em;
  height: 4em;
  background: url('../theme3.0/clock.svg') 0 0 no-repeat;
  background-size: 4em 4em;
  -ms-transform-origin:50% 50%;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  animation: rotate_clock 2s ease 0s infinite;
}

/* CODE VIEWER :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#code_view {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 1005;
  font-family: 'source code pro', 'ubuntu mono', 'Courier New', Courier, monospace;
}

#code_view > aside {
  height: 100vh;
  background-color: #20262e;
  width: 20rem;
  padding: 1em 0em;
  overflow: auto;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  left: 0;
}

#code_view > aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #20262e;
}

#code_view > aside > ul li {
  padding: 0 1.5em;
  display: block;
  cursor: pointer;
}
#code_view > aside > ul > li.none { cursor: default; }
#code_view > aside > ul li:hover {
  background-color: #0a75b8;
  text-decoration: underline;
}
#code_view > aside > ul li.none:hover {
  background-color: #14181d;
  text-decoration: none;
}
#code_view > aside > ul li:active { background-color: #d4386c; }
#code_view > aside > ul li.none:active { background-color: #14181d; }

#code_view > aside > ul > ul > li { padding-left: 3.2em; }
#code_view > aside > ul li::before {
  content: '';
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  background: url('../theme3.0/buttons.svg') -8.25rem 0 no-repeat;
  background-size: 9.5rem 3rem;
  margin-right: 0.5em;
}
#code_view > aside > ul > li.none::before { background-position-x: -7.25rem; }
#code_view > aside > ul li:hover::before { background-position-y: -1rem; }
#code_view > aside > ul li:active::before { background-position-y: -2rem; }
#code_view > aside > ul li.active { background-color: #101418; }

#code_view > aside > ul li.active:hover { background-color: rgb(45, 69, 92); }
#code_view > aside > ul li.active:hover::before { background-position-y: -2rem; }

#code_view > pre {
  margin: 0;
  padding: 0 0 0 23rem;
  overflow-y: scroll;
  height: 100vh;
  background: #101418;
}

#code_view > pre > code {
  padding: 2em 1em;
  display: inline-block;
}