@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font: 16px/1.2em Roboto, Arial, Helvetica, sans-serif;
}

#contact_me {
  width: 100%;
  height: 100vh;
  background: url("../theme2.0/bg.jpg") center center no-repeat; 
  background-size: cover;
}

#contact_me form {
  display: block;
  width: 50%;
  border: 1px solid #223457;
  background: #00000088;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1rem;
  font-family: Raleway, Roboto, Arial, Helvetica, sans-serif;
}

#contact_me label {
  display: block;
}

#contact_me input {
  background: #000000bb;
  border: none;
  color: #fff;
  border: 1px solid #ffffff33;
  padding: 1rem 1rem;
  font: inherit;
  font-size: 1.4rem;
  font-weight: bold;
}
