@charset "utf-8";
body {
	background:#050912;
	margin:0;
	padding:0;
	font:14px "Droid Serif", Georgia, Tahoma, Geneva, sans-serif;
	color:#fff;
	position:relative;
	height:100%;
}
#portfolio, #header, #personal {
	width:100%;
	position:relative;
}
#header section {
	position:fixed;
	width:100%;
}
#portfolio, #personal { background:#040810; }
#portfolio > div > div > section:nth-child(1) article, #header article, #personal article { position:absolute; }
#personal article:nth-child(1) {
	width:40%;
	min-width:400px;
	border-right:1px solid #504430;
}
#personal article:nth-child(2) {
	width:60%;
	right:0px;
}
#personal article:nth-child(1) img { position:absolute; }
.aP1, .aP2, .aP3, .aP4 {
	background:url(../theme/key_pattern.png) no-repeat;
	height:45px;
	width:45px;
	margin:3px 2px;
}
.aP1 {
	background-position:-148px -6px;
	display:block;
	margin:0 auto;
}
.aP2 { background-position:-4px -6px; }
.aP3 { background-position:-52px -54px; }
.aP4 { background-position:-100px -6px; }
.iP1, .iP2 {
	background:url(../theme/arrows.png) no-repeat;
	width:15px;
	height:34px;
	position:absolute;
}
.iP1 { background-position:-1px -1px; }
.iP2 { background-position:-17px -1px; }
#header { overflow:hidden; }
#header article { z-index:-8; }
.pts {
	position:absolute;
	z-index:1;
}
.shd {
	position:absolute;
	z-index:2;
}
.pts2 { position:absolute; }
.npts {
	position:absolute;
	top:0;
	left:0;
}
.shadow {
	position:absolute;
	z-index:-1000;
}
.lpl {
	position:absolute;
	bottom:-3px;
	width:100%;
}
.lpl2 { position:fixed; }
#personal section { position:absolute; }
#personal h2 {
	font:300 15px Roboto, sans-serif;
	background:url(../theme/bck_line1.png) center no-repeat;
	text-transform:uppercase;
	line-height:1.1;
	text-align:center;
	color:#C39D5F;
	color:#D4B98D;
	margin:0;
	padding:0;
	text-shadow:0 0 10px #000;
}
#personal li:last-child h2 { background-image:url(../theme/bck_line2.png); }
#personal h3 i {
	font:italic 20px Georgia, Times, serif;
	vertical-align:1px;
	padding:0 3px;
	color:#C39D5F;
	color:#D4B98D;
}
#personal h3 {
	font:31px 'liberationReg', Georgia, Times, serif;
	line-height:1.2;
	text-align:center;
	color:#C39D5F;
	color:#D4B98D;
	margin:0;
	padding:0;
}
#personal li:last-child h3 { font-size:37px; }
#personal h4 {
	font:100 25px 'Titillium Web', sans-serif;
	text-transform:uppercase;
	text-align:center;
	line-height:1;
	color:#C39D5F;
	color:#D4B98D;
	margin:0;
	padding:0;
}
#personal h1 {
	text-align:center;
	line-height:1;
	margin:0 0 20px;
	padding:0;
}
#personal ul {
	margin:0;
	padding:0;
}
#personal ul li {
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
}
#personal li:nth-child(1) {
	font:300 25px 'Open Sans', Roboto;
	width:70%;
	line-height:1.3;
	margin:0 auto;
}
#personal li:nth-child(1) section i {
	width:42px;
	height:39px;
	float:left;
	margin:4px 6px 0 0;
	border-radius:4px;
	padding:8px 7px;
	border:1px solid #C39D5F;
	background:url(../theme/H.png) center no-repeat;
}
.lpl3 {
	width:100%;
	overflow:hidden;
	position:absolute;
	top:-19px;
}
#personal article { z-index:2; }
footer, #personal{
	position:relative;
	width:100%;
}
footer article{
	position:absolute;
	width:490px;
	color:#C39D5F;
	font:300 20px Roboto, 'Open Sans';
}
footer ul{
	margin:0;
	padding:0;
	list-style:none;
}
footer ul li{
	margin:0;
	padding:0;
	background:url(../theme/celem.png) no-repeat;
	float:left;
}
footer ul li:nth-child(1){
	background:none;
	width:100%;
	margin:0 0 10px;
	text-align:center;
}
footer ul li:nth-child(2){
	background-position:0 -80px;
	padding:35px 0 0;
	margin:5px 50px 0 0;
}
footer ul li:nth-child(3){
 	background-position:0 0;
	padding:35px 0 0;
	margin:5px 0 0;
}
.obP1{
	position:absolute;
	top:0;
	left:0;
	width:39%;
	height:150px;
	background:#040810;
	z-index:19;
}
.obP2{
	position:absolute;
	top:0;
	right:0;
	width:59%;
	height:150px;
	background:#040810;
	z-index:20;
}
#portfolio > div > div > section:nth-child(1) article:first-child {
	left:0px;
	transform:rotate(90deg);
	transform-origin:left inherit;
	cursor:vertical-text;
}
#portfolio > div > div > section:nth-child(1) article:last-child {
	right:0px;
	transform:rotate(-90deg);
	transform-origin:right inherit;
	cursor:vertical-text;
}
#portfolio > div > div > section:nth-child(1) h1 {
	font:300 25px Roboto, "Open Sans";
	text-transform:uppercase;
	color:#BE9954;
	padding:0;
	margin:0;
}
#portfolio > div > div > section:nth-child(1) article:nth-child(3) {
	width:148px;
	bottom:10px;
	position:fixed;
	z-index:15;
}
#portfolio > div > div > section:nth-child(1) h2 {
	font:300 14px Roboto, "Open Sans";
	line-height:normal;
	text-align:center;
	color:#C39D5F;
	padding:0;
	margin:0;
}
#portfolio > div > div > section:nth-child(2){
	position:absolute;
	top:-1px;
	left:0;
	z-index:8;
	width:100%;
	background:#040810;
}
#portfolio > div > div > section:nth-child(2) > article{
	height:100%;
	width:100%;
}
#portfolio figure{
	margin:10px;
	position:absolute;
	overflow:hidden;
}
#portfolio figcaption{
	background:rgba(4,32,49,0.8);
	z-index:7;
	width:100%;
	height:100%;
	display:none;
}
#portfolio figure > video{
	position:absolute;
	width:100%;
	z-index:-1;
}
#portfolio header{
	z-index:14;
	height:65px;
	position:absolute;
	background:#040810;
}
#portfolio header img{
	margin:25px 40px 0 45px;
}
#portfolio > div > div > section:nth-child(2) figcaption > h1{
	font:500 37px Roboto;
	text-transform:uppercase;
	text-align:center;
	width:400px;
	margin:0 auto;
	padding:0;
	color:#C39D5F;
	line-height:1;
}
#portfolio > div > div > section:nth-child(2) figcaption > p{
	font:300 14px 'Open Sans', Roboto;
	text-align:center;
	width:400px;
	margin:5px auto;
	padding:0;
	line-height:1;
}
#portfolio figcaption > ul{
	margin:0 auto;
	padding:10px 0;
	width:199px;
	list-style:none;
}
#portfolio figcaption > ul li{
	font:500 13px Roboto, 'Open Sans';
	color:#fff;
	text-transform:uppercase;
	margin:3px 8px 0 0;
	padding:13px 12px 8px 14px;
	float:left;
	border-radius:5px;
	border:1px solid #507B89;
	box-shadow:0 2px 0 #507B89;
	cursor:pointer;
}
#portfolio figcaption > ul li:nth-child(2){
	padding:14px 35px 13px;
}
#portfolio > div > div > section:nth-child(2) article > article{
	margin:10px;
	z-index:10;
	background:#272C32;
	overflow:auto;
	position:relative;
}
.video{
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
#exp1 video, #exp2 video, #exp3 video, #exp4 video{
	position:absolute;
	top:0;
	right:0;
	z-index:-1;
}
#portfolio > div > div > section:nth-child(2) article > section{
	width:100%;
	height:100%;
}
#portfolio section > section{
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:100%;
	z-index:8;
	background:rgba(0,0,0,0.3);
}
#exp2 section > section, #exp3 section > section, #exp4 section > section{
	width:520px;
}
#exp1 section > section:nth-child(2){
	left:inherit;
	right:0;
	border-left:1px solid rgba(255,255,255,0.3);
}
#exp1 section > section > div{
	width:500px;
	padding-right:70px;
	float:right;
}
#exp1 h1, #exp2 h1, #exp3 h1, #exp4 h1{
	margin:0;
	padding:80px 70px 0;
	font:500 45px Roboto;
	color:#C39D5F;
	width:500px;
}
#exp2 h1, #exp3 h1, #exp4 h1{
	padding:70px 0 5px 50px;
	line-height:1.1;
	width:400px;
}
#exp1 div h1{
	padding-left:0;
	padding-right:0;
}
#exp1 h2, #exp2 h2, #exp3 h2, #exp4 h2{
	margin:-3px 0 0;
	padding:0 0 0 147px;
	font:100 15px Roboto;
	color:#C39D5F;
	width:500px;
}
#exp2 h2, #exp3 h2, #exp4 h2{
	padding:0 0 0 50px;
	width:400px;
}
#exp1 div h2{
	padding-left:77px;
}
#exp1 section > section h1 b{
	margin:3px 20px 0 0;
	padding:0;
	width:55px;
	height:55px;
	border-radius:27px;
	text-align:center;
	font:bold 40px Georgia, 'Open Sans', Roboto;
	color:#272C32;
	float:left;
	background:#4CB5E0;
	background:#C39D5F;
}
#portfolio section > section p{
	padding:0;
	width:400px;
	margin:20px 100px 30px 120px;
	font:300 15px 'Open Sans';
}
#exp2 section > section p, #exp3 section > section p, #exp4 section > section p{
	margin:20px 0 20px 55px;
}
#exp1 section > section > div p{
	margin-left:50px;
	margin-right:0;
}
#exp1 div > ul, #portfolio section > section > ul{
	margin:0 30px;
	padding:0;
	list-style:none;
}
#exp1 div > ul > li, #portfolio section > section > ul > li{
	margin:0 0 0 20px;
	padding:0 10px 0 0;
	font:100 12px Roboto;
	color:#4CB5E0;
	float:left;
}
#exp1 section > section > ul{
	margin-left:100px;
}
#exp2 section > section > ul{
	margin-left:35px;
}
#portfolio ul > li > ul{
	margin:0;
	padding:0 0 10px 10px;
	list-style:none;
}
#portfolio ul > li > ul > li{
	margin:0;
	padding:0;
	font:300 14px 'Open Sans', Roboto;
	color:#aaa;
}
#portfolio ul > li:last-child > ul > li{
	width:250px;
}
#portfolio ul > li > ul > li b{
	font-weight:600;
}
#portfolio article > article > div:last-child{
	font:300 13px Roboto;
	text-transform:uppercase;
	color:#4CB5E0;
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
	z-index:20;
}
#portfolio article > article > div > img{
	vertical-align:middle;
}
body > section, footer, header{ display:none; }
#portfolio{ display:inherit; }

#portfolio > div{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}
#portfolio > div > div{
	position:absolute;
	height:100%;
	left:0px;
	top:0px;
}
#portfolio > div > div > section:nth-child(2){
	position:absolute;
	visibility:hidden;
}
