@charset "utf-8";
body {
	background:#15191F url(../theme/space_bckgnd.jpg) center center no-repeat fixed;
	margin:0;
	padding:0;
	font:11px Georgia, Tahoma, Geneva, sans-serif;
	color:#fff;
	position:relative;
	height:100%;
}
div.canvas1 { position:fixed; }
div.canvas2, div.canvas3 {
	position:fixed;
	top:0;
	left:0;
}
div.canvas3 { background:url(../theme/space_bckgnd.jpg) center center no-repeat; }
.canvas4 {
	position:absolute;
	top:0;
	left:0;
}
img.shadow {
	position:absolute;
	z-index:-1;
}
h1 {
	margin:0;
	padding:0;
}
#logo {
	position:absolute;
	top:280px;
	left:420px;
}
#logo h1 {
	margin:0;
	padding:30px 0 0 0;
	text-align:center;
	font:11px Georgia, "Times New Roman", Times, serif;
	color:#616F80;
	font-style:italic;
}
nav {
	position:fixed;
	top:0;
	right:0;
	width:50px;
	background:url(../theme/bck_menu_line.png) no-repeat 12px -1000px;
	z-index:100;
}
nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
nav ul li {
	margin:0;
	padding:0;
}
nav a {
	position:relative;
	font:12px "Julius Sans One", "Roboto Slab Light", Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff;
}
nav a:link { color:#fff; }
nav a:active { color:#fff; }
nav a:hover { color:#FC0; }
nav p {
	position:absolute;
	right:35px;
	margin:0;
	padding:5px 0 0;
	z-index:-1;
	display:none;
}
#l1, #l2, #l3, #l4 {
	background:#000;
	position:fixed;
	width:100%;
	height:40px;
}
#l1, #l4 {
	top:0;
	width:40px;
	height:100%;
}
#l1 { left:0; }
#l2 {
	top:0;
	left:0;
}
#l3 {
	bottom:0;
	left:0;
}
#l4 { right:0; }
#Home, #Information, #Education {
	width:100%;
	height:1300px;
}
#logo div {
	width:100%;
	position:absolute;
	padding:0 0 60px 0;
	bottom:0px;
	text-align:center;
}
#Education article, #Education h1 {
	width:540px;
	margin:auto;
}
#Education article { margin-top:200px; }
#Education div {
	background:url(../theme/bck_h1.png) center repeat-x;
	text-align:center;
}
#Education h1 { visibility:hidden; }
#Education article h1 {
	font:15px "Maven Pro Regular";
	text-transform:uppercase;
	visibility:visible;
	width:125px;
	margin:auto;
	background:#000;
}
#Education article h2 {
	font:40px "Liberation Serif Regular";
	text-align:center;
	margin:0;
}
#Education article h2 i { font:italic 23px Georgia; }
#Education article p {
	font:37px "Rajdhani Light";
	text-transform:uppercase;
	text-align:center;
	margin:0;
}
#Education article.p3o h1 { width:193px; }
#Education article.p3o h2 { font-size:51px; }
#Education article.p3o h2 i { font-size:26px; }
#Education article.p3o p { font-size:39px; }
#logo a {
	width:160px;
	display:block;
	margin:0 auto;
}
.down {
	background:url(../theme/scrDwn.png) no-repeat;
	background-position:50px 0px;
	width:160px;
	height:68px;
	display:block;
}
#Welcome {
	width:100%;
	position:relative;
}
#Welcome div {
	width:650px;
	margin:0 auto;
	position:relative;
	z-index:2;
}
#Welcome h1 {
	font:56px "Monda Regular";
	float:left;
	margin:0;
	padding:0;
}
#Welcome h2 {
	font:19px "Roboto Slab Light";
	background:url(../theme/center.png) center left no-repeat;
	width:310px;
	float:left;
	margin:27px 0 0 25px;
	padding:0 0 0 40px;
}
#title {
	position:fixed;
	top:40px;
	left:50px;
}
#title h1 {
	font:17px "Julius Sans One";
	text-transform:uppercase;
	letter-spacing:3px;
	margin:0;
	padding:0;
}
#t2 {
	width:400px;
	height:70px;
	overflow:hidden;
}
#title h2 {
	font:70px "Bebas Neue", Monda;
	text-transform:uppercase;
	margin:0;
	padding:0;
	height:200px;
	visibility:hidden;
}
#title h3 {
	font:italic 50px Georgia, "Times New Roman", Times, serif;
	position:absolute;
	top:11px;
	margin:0;
	padding:0;
}
#Information { padding-top:50px; }
#Information h1 { visibility:hidden; }
#Information article h1 {
	visibility:visible;
	font:28px "Roboto Slab Thin", "Geometria Light";
	margin:0 0 0 75px;
	padding:0;
}
#Information h2 {
	font:63px "Julius Sans One";
	text-transform:uppercase;
	color:#CCB82C;
	margin:0 0 0 70px;
	padding:0;
}
#Information h3 {
	font:40px "Roboto Slab Light", "Geometria Light";
	font-weight:normal;
	width:550px;
	margin:0 0 0 75px;
	padding:0;
}
#Information p {
	font:40px "Roboto Slab Thin", "Geometria Light";
	margin:0 0 0 75px;
	padding:0;
}
#title { display:none; }
.menu {
	background:url(../theme/bck_menu.png) no-repeat;
	padding:4px;
}
.shwmenu {
	position:absolute;
	left:0;
	padding:3px;
}
#frm {
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	display:none;
}
#Designer, #Interests { height:900px; }
#Objetive, #Mechatronics { height:1000px; }
.swpl0{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.adplc {
	position:absolute;
	left:0;
	z-index:2;
}
.comets{
	position:relative;
	left:0;
	z-index:3;
	overflow:hidden;
}
.comet{
	position:absolute;
	width:147px;
	height:136px;
	z-index:1;
	right:-200px;
	bottom:-200px;
	visibility:hidden;
}
.tail{
	position:absolute;
	left:0;
	top:0;
	z-index:2;
}
.shine{
	position:absolute;
	left:0;
	top:0;
	z-index:3;
}